name: CD

permissions:
  contents: write

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    strategy:
      fail-fast: true
      matrix:
        platform:
          - os_name: Linux-x86_64
            os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            binext: ""
          - os_name: Windows-x86_64
            os: windows-latest
            target: x86_64-pc-windows-msvc
            binext: .exe

    runs-on: ${{ matrix.platform.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.platform.target }}

      - uses: Swatinem/rust-cache@v2

      - name: Install needed packages on Linux
        run: sudo apt-get update --yes && sudo apt-get install --yes libssl-dev libdbus-1-dev libx11-xcb1 libxkbcommon-x11-dev pkg-config
        if: contains(matrix.platform.os, 'ubuntu')

      - name: Install mold linker
        uses: rui314/setup-mold@v1

      - name: Run build command
        run: cargo build --release --target ${{ matrix.platform.target }}

      - name: Strip debug information
        run: strip target/${{ matrix.platform.target }}/release/pandora_launcher${{ matrix.platform.binext }}

      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          files: target/${{ matrix.platform.target }}/release/pandora_launcher${{ matrix.platform.binext }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
